h1{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 0, 0, 0.282);
    font-size: 25px;
    font-family:fantasy;
    font-weight: bolder;
    border: 10px dotted rebeccapurple;
    text-shadow: 2px 2px 4px rgb(255, 0, 242);
    box-shadow:rgba(94, 2, 2, 0.543) 0px 8px 24px;
    
}
p{
    color: rgb(17, 4, 155);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(205, 21, 21, 0.498);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    padding: 20px;
   
}
.myclass{
    color: rgb(36, 181, 26);
    background-color: rgb(12, 0, 74);
    font-size: 30px;
    font-family:fantasy;
    font-weight: bolder;
    border: 5px dotted rgba(131, 14, 120, 0.645);
    text-shadow: 2px 2px 4px rgb(0, 26, 255);
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
}

.myclass1{ color: rgb(36, 181, 26);
    background-color: rgb(12, 0, 74);
    font-size: 30px;
    font-family:fantasy;
    font-weight: bolder;
    border: 5px dotted rgba(131, 14, 120, 0.645);
    text-shadow: 2px 2px 4px rgb(0, 26, 255);
    box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}
.myclass2{color: rgb(127, 155, 4);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(141, 21, 205, 0.498);
    box-shadow: rgba(98, 46, 240, 0.4) 0px 5px, rgba(114, 46, 240, 0.3) 0px 10px, rgba(107, 46, 240, 0.2) 0px 15px, rgba(104, 46, 240, 0.1) 0px 20px, rgba(240, 46, 46, 0.05) 0px 25px;
    padding: 20px;

}
.myclass3{color: rgb(155, 4, 4);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(21, 205, 76, 0.498);
    box-shadow: rgba(46, 240, 88, 0.4) 0px 5px, rgba(46, 240, 78, 0.3) 0px 10px, rgba(46, 240, 101, 0.2) 0px 15px, rgba(46, 240, 82, 0.1) 0px 20px, rgba(46, 240, 101, 0.05) 0px 25px;
    padding: 20px
}

.myclass4{color: rgb(4, 127, 155);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    text-decoration: underline;
    text-shadow: 1px 1px 2px rgba(21, 205, 76, 0.498);
    box-shadow: rgba(208, 240, 46, 0.4) 0px 5px, rgba(195, 240, 46, 0.3) 0px 10px, rgba(179, 240, 46, 0.2) 0px 15px, rgba(221, 240, 46, 0.1) 0px 20px, rgba(224, 240, 46, 0.05) 0px 25px;
    padding: 20px
}
.myclass5{background-color: rgba(255, 255, 0, 0.449);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgb(255, 0, 0) 0px -12px 30px, rgb(255, 0, 0) 0px 4px 6px, rgb(255, 0, 0) 0px 12px 13px, rgba(255, 0, 0, 0.09) 0px -3px 5px; 
    display:inline-flexbox;
    border: 5px dotted rgb(63, 153, 51);

}

.myclass6{
    background-color: rgba(255, 0, 0, 0.558);
    color: aliceblue;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    display: inline-flexbox;
}
.showNav {
    height: 0.5em;
    width:1.25em;
    display: block;
    border-top: 0.2em solid rgb(0, 0, 0);
    border-bottom: 0.2em solid rgb(0, 0, 0);
    border-radius: 0.2em;
}
.showNav::before {
    content:'';
    position: absolute;
    width:1.25em;
    margin-top: 0.1em;
    border-top: 0.2em solid #000000;
}
